 @media (max-width: 860px) {
    #bar{
        color: #fff;
        cursor: pointer;
        font-size: 20px;
        visibility: visible;
        width: 20px;
        /* padding-right: 20%; */
    }
    
 .nav ul {
    position: absolute;
    background:rgba(95, 85, 85,0.8);
    width: 70%;
    top: 120px;
    height: 70vh;
    z-index: 70;
    right: 0%;
    left: 30%;

}
.nav ul li{
    display: block;
    text-align: center;
    padding: 30px;
    border: solid;
    border-radius: 20px;
    box-shadow: 0px 10px ;
    font-size: 30px;
}
#div1, #div2,#div3{
    font-size: 18px;
    width: 70%;
}
.row-tap ul{
    color: #fff;
    font-size: 20px;
    width: 75ch;
    padding-left:0%;
}
.row-tap ul button{
    width: 50%;
}
.row-tap p{
    font-size: 18px;
}
.content h1{
    font-size: 35px;
    margin-top: 80px;
}
.nav{
    position: relative;
}
.footer{
    display: block;
}
.team{
    height: 50vh;

}
.our h2{
    font-size: 20px;
}
/* main{
    width: 50ch;
    display: block;
} */
body{
    width: 100%;
}
 }
