 @media (max-width: 860px) {
    #bar{
        color: #fff;
        cursor: pointer;
        font-size: 20px;
        visibility: visible;
        width: 30px;
    }
    
 .nav ul {
    position: absolute;
    background:rgba(95, 85, 85,0.8);
    width: 70%;
    top: 120px;
    height: 70vh;
    z-index: 70;
    right: 0%;
    left: 30%;

}
.nav ul li{
    display: block;
    text-align: center;
    padding: 30px;
    border: solid;
    border-radius: 20px;
    box-shadow: 0px 10px ;
    font-size: 30px;
}
#div1, #div2,#div3{
    font-size: 12px;
}

.row-tap ul {
    display: block; 
    /* list-style: none; */
    /* width: 5%; */
    /* border-radius: none; */
    /* border: #fff 1px; */
    
}
.row p{
    font-size: 12px;
}
.content h1{
    font-size: 35px;
    margin-top: 80px;
}
.nav{
    position: relative;
}
.footer{
    display: block;
}
.team{
    /* display: block; */
    height: 30vh;
    /* width: 40%; */
    /* align-items: center; */

}
.our h2{
    font-size: 20px;
}
main{
    width: 50ch;
}
body{
    width: 110%;
}
 }
