 @media screen and (max-width: 855px) {
    #bar{
        color: #fff;
        cursor: pointer;
        font-size: 20px;
        visibility: visible;
        width: 20px;
        /* padding-right: 20%; */
    }
    
 .nav ul {
    position: absolute;
    background:rgba(95, 85, 85,0.8);
    width: 70%;
    top: 120px;
    height: 70vh;
    z-index: 70;
    right: 0%;
    left: 30%;

}
.nav ul li{
    display: block;
    text-align: center;
    padding: 30px;
    border: solid;
    border-radius: 20px;
    box-shadow: 0px 10px ;
    font-size: 30px;
}
#div1, #div2,#div3{
    font-size: 18px;
    width: 70%;
}
.row-tap ul{
    color: #fff;
    font-size: 20px;
    width: 75ch;
    padding-left:25%;
}
.row-tap ul button{
    width: 50%;
}
.row-tap p{
    font-size: 18px;
}
.content{
    padding-left: 70%;
}
.content h1{
    font-size: 35px;
    margin-top: 80px;
}
.nav{
    position: relative;
}
.footer{
    display: block;
    width: 120%;
}
.team{
    height: 50vh;

}
.our h2{
    font-size: 20px;
}
body{
    width:100%;
    /* overflow: hidden; */
    /* overflow-y: hidden; */
}
.con{
    width: 130%;
}
#contact{
    width: 130%;
}
.team{
    width: 130%;
}
.our{
    width: 130%;
}
section{
    width: 130%;
}
.banner{
    width: 130%;
}
 }

@media screen and (max-width:699px){
    body{
        width: fit-content;
        overscroll-behavior: none;
    }
}